.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.habit-card {
    box-shadow: -2px 8px 21px -3px rgba(0,0,0,0.15);
    box-sizing: border-box;
    border-radius: 30px;
    width: 750px;
    margin-top: 0px;
    padding: 0px 30px;
    color: black;
    background-color: #f9faf8;
}
.habit-card-main {
    height: 120px;
    display: flex;
    align-items: center;
    flex: 0 1 auto;
}

.habit-card-main button {
    color: black;
    background-color: #f9faf8;
    border-style: solid;
    border-radius: 5px;
}

.habit-title {
    font-size: 20px;
}

.habit-icon {
    box-sizing: border-box;
    height: 60px;
    width: 60px;
    /* border-style: solid; */
    border-radius: 100%;
    margin-right: 20px;
    background-color: #dedddd;
    background: linear-gradient(45deg, #A4A4A4 0%, #CBCBCB 100%, #757575 100%);
    flex: 0 0 auto;
}

.habit-icon.green:hover {
    background: linear-gradient(45deg, #65B516 0%, #AFF200 100%, #689E42 100%);
}

.habit-card-main:hover .habit-icon {
    border-style: solid;
    border-color:  #5BAAC7;
}

.habit-icon.completed {
    background: linear-gradient(45deg, #5BAAC7 0%, #6ED2FF 100%, #ffffff 100%);
}

.completion-percent {
    flex: 0 0 auto;
    height: 70px;
    width: 70px;
    /* border-style: solid; */
    border-radius: 100%;
    /* border-width: 5px; */
    /* border-color: rgb(38, 121, 255); */
    background: linear-gradient(to bottom, #96BCFF 0%, #5E84FF 100%, #757575 100%);
    margin-left: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-circle {
    height: 55px;
    width: 55px;
    box-sizing: border-box;
    border-radius: 100%;
    background-color: white;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.habit-card-main .text {
    width: 100px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 8px;
}

.habit-card-main h2, .habit-card-main span {
    margin: 0;
}
















/* Habit Card Extender */

.habit-card-extender {
    background-color: #f9faf8;
    max-height: fit-content;
    
    display: flex;
    flex-direction: column;

    font-size: 18px;
    font-weight: 700;
}

.update-title {
    font-size: 19px;
    margin-bottom: 30px;
}

#habit_name_input {
    border-style: none;
    box-sizing: border-box;
    margin: 10px 0px 30px;
    height: 40px;
    background-color: #a4c6dd39;
    border-radius: 40px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
}

.repeat-options {
    margin: 15px 0px 30px;
    display: flex;
    gap: 10px;
}

.repeat-options .repeat {
    height: 53px;
    width: 120px;
    background-color: #a4c6dd39;
    border-radius: 40px;
    border-style: none;
    font-size: 16px;
    color: #767676;
}

.repeat:hover {                  /* would rather this be a mousedown effect but requires JS so later*/ 
    border-style: solid;         /* actually hover effect good if all unselected. Example: When sumn gets selected remove "unselected" class from buttons container*/
    border-color: #767676; 
}

.repeat.clicked {
    background-color: #f9faf8;
    border-style: solid;
    color: #269cc7;
    border-color: #269cc7;
}

#select-days-title {
    margin-bottom: 15px;
    color: #76767660;
}

#select-days-title.available {
    color: #000000;
}

.days {
    display: flex;
    max-height: fit-content;
    max-width: fit-content;
    flex: 1 0 1;
    gap: 10px;
}

.days button {
    width: 50px;
    height: 60px;
    background-color: #a4c6dd1f;
    border-radius: 15px;
    border-style: none;
    font-size: 16px;
    font-weight: 700;
    color: #76767660;
    display: flex;
    justify-content: center;
    align-items: center;
}

.days.available button {
    width: 50px;
    height: 60px;
    background-color: #a4c6dd39;
    border-radius: 15px;
    border-style: none;
    font-size: 16px;
    font-weight: 700;
    color: #767676;
    display: flex;
    justify-content: center;
    align-items: center;
}

.days.available button:hover { /* hover works here unlike with repeat buttons because multiple can be selected */
    border-style: solid;        
    border-color: #767676; 
}

.days.available button.clicked {
    background-color: #f9faf8;
    border-style: solid;
    color: #269cc7;
    border-color: #269cc7;
}

.time-section {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 690px;
    justify-content: space-between;
}

#time {
    margin: 15px 0px;
    height: 53px;
    width: 200px;
    padding-left: 10px;
    background-color: #a4c6dd39;
    border-radius: 40px;
    border-style: none;
    font-size: 16px;
    color: #767676;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    display: flex;
}

.buttons {
    display: flex;
    justify-content: center;
}

.save-habit {
    margin: 20px 20px 40px;
    width: 200px;
    height: 55px;
    background: linear-gradient(to bottom, #5BAAC7 0%, #289EEB 50%, #257B9E 100%);
    border-radius: 15px;
    border-style: none;
    font-size: 20px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    box-shadow: 0px 2px 15px 3px rgba(91,170,199,0.55);
    align-self: center;
}

.save-habit:hover {
    transform: scale(1.02);
}

.delete-habit {
    margin: 20px 20px 40px;
    width: 200px;
    height: 55px;
    background: linear-gradient(to bottom, #FA3232 0%, #EB352D 50%, #CF201D 100%);
    border-radius: 15px;
    border-style: none;
    font-size: 20px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    box-shadow: 0px 2px 15px 3px rgba(250, 50, 50, 0.45);
    align-self: center;
}

.delete-habit:hover {
    transform: scale(1.02);
}